# Jekyll-specific
_site/
.jekyll-cache/
.sass-cache/

# Bundler
/vendor/

# Ruby
*.gem
*.rbc
.bundle/
Gemfile.lock

# Logs and temp files
log/*
tmp/*

# Node modules (if using JavaScript)
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and text editors
.vscode/
.idea/

# Secret files (if you are using environment variables)
.env
